<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stock Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/date-fns@3.6.0/cdn.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/date-fns-tz@3.1.3/dist/cjs/index.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <div id="topBar">
    <div class="top-bar-left">
      <button id="search-button" class="top-bar-button">
        <span class="top-search-icon"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            width="20"
            height="20"
            viewBox="0 0 50 50"
            style="margin-bottom: -2px;margin-right: 3px;"
          >
            <path
              d="M 21 3 C 11.621094 3 4 10.621094 4 20 C 4 29.378906 11.621094 37 21 37 C 24.710938 37 28.140625 35.804688 30.9375 33.78125 L 44.09375 46.90625 L 46.90625 44.09375 L 33.90625 31.0625 C 36.460938 28.085938 38 24.222656 38 20 C 38 10.621094 30.378906 3 21 3 Z M 21 5 C 29.296875 5 36 11.703125 36 20 C 36 28.296875 29.296875 35 21 35 C 12.703125 35 6 28.296875 6 20 C 6 11.703125 12.703125 5 21 5 Z"
            ></path></svg>
        </span>
        <span style="text-transform: capitalize;" id="selected-stock">Nifty 50</span>
      </button>
      <select id="interval-select" class="top-bar-select">
        <option value="5">5M</option>
        <option value="15">15M</option>
        <option value="30">30M</option>
        <option value="60">1H</option>
        <option value="240">4H</option>
        <option value="1440">1D</option>
      </select>

      <div class="custom-dropdown">
        <div class="dropdown-header" id="dropdown-header">
          Select Patterns
        </div>
        <div class="dropdown-content" id="dropdown-content">
          <div class="option" data-value="sup-res">S&R Zones</div>
          <div class="option" data-value="head-shoulders">Head and Shoulders</div>
          <div class="option" data-value="double-top">Double Top</div>
          <div class="option" data-value="triangle">Triangle</div>
          <div class="option" data-value="wedge">Wedge</div>
          <div class="option" data-value="flag">Flag</div>
        </div>
      </div>
    </div>

    <div class="top-bar-right">
      <button id="fullscreen-button" class="top-bar-button top-bar-fullscren">
        <svg xmlns="http://www.w3.org/2000/svg" height="14px" viewBox="0 0 14 14" width="14px">
          <path fill="#000000" d="M2,9 L0,9 L0,14 L5,14 L5,12 L2,12 L2,9 L2,9 Z M0,5 L2,5 L2,2 L5,2 L5,0 L0,0 L0,5 L0,5 Z M12,12 L9,12 L9,14 L14,14 L14,9 L12,9 L12,12 L12,12 Z M9,0 L9,2 L12,2 L12,5 L14,5 L14,0 L9,0 L9,0 Z"/>
        </svg>
      </button>
    </div>
  </div>
    <div id="hover-info"></div>
    <div id="spinner" class="spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    <div id="tvchart">
    </div>
    <div id="control-panel">
      <h3>Watch List</h3>
      <table id="stock-table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Last</th>
                <th>Chg</th>
                <th>Chg%</th>
            </tr>
        </thead>
        <tbody>
            <tr class="stock-row selected" data-symbol="NSE:NIFTY50-INDEX" onclick="selectStock(this)">
                <td>Nifty 50</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="stock-row" data-symbol="NSE:NIFTYBANK-INDEX" onclick="selectStock(this)">
                <td>Banknifty</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="stock-row" data-symbol="NSE:ASIANPAINT-EQ" onclick="selectStock(this)">
                <td>Asian Paints</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="stock-row" data-symbol="NSE:RELIANCE-EQ" onclick="selectStock(this)">
                <td>Reliance</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="stock-row" data-symbol="NSE:SBIN-EQ" onclick="selectStock(this)">
                <td>SBI</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="stock-row" data-symbol="NSE:KOTAKBANK-EQ" onclick="selectStock(this)">
                <td>Kotak Bank</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="stock-row" data-symbol="NSE:HDFCBANK-EQ" onclick="selectStock(this)">
                <td>Hdfc Bank</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="stock-row" data-symbol="NSE:BAJAJFINSV-EQ" onclick="selectStock(this)">
                <td>Bajaj Finserve</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
  </div>
    <div id="search-popup" class="popup">
      <div class="popup-content">
        <span class="close-button">&times;</span>
        <div class="pop-up-search-group">
          <svg viewBox="0 0 24 24" aria-hidden="true" class="icon">
            <g>
              <path
                d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"
              ></path>
            </g>
          </svg>
          <input class="input" type="search" placeholder="Search" />
        </div>
        
        <div id="search-results"></div>
      </div>
    </div>
  
  </body>
</html>
